ActionBar {
    background-color:  #3C5AFD;
    color: white;    
}

Button {
    background-color: #3C5AFD;
    color: white;   
    height: 100px;
    width: 40%;
    margin:left;
}

Label {
    color: grey;
    font-size: 15px;
    margin-left: 3px;
}

GridLayout {
    margin-left: 15%;
   
}



