button{
    width: 30%;
    height: 40%;
    margin-left: 13%;
    margin-top: 10%;
}
.label1{
    font-size: 20px;
    margin-left: 5%;
}
.label2{
    font-size: 19px;
    margin-left: 10%;
    margin-right: 5%;
}