.teste {
    color: black;
    font-size: 25px;
    margin-left: 3px;
}

.linhaHorizontal {
    height: 1px;
    width: 100%;
    border: 2;
    border-width: 100%;
    border-style: solid;
    border-color: black;
    margin-left: 3px;
}

.btnOp {

    float: left;
    margin-left: 10px;

}